.about-me-wrapper {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  max-width: 1296px;
  padding: 48px;
}

.about-me-text-container {
  position: relative;
  margin-top: 96px;
}

.title-text {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.about-me-text {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.front-hill {
  width: 100%;
  background: radial-gradient(
      circle at 100% 120%,
      blue 0%,
      blue 49.99%,
      transparent 50%,
      transparent 100%
    ), radial-gradient(
      circle at 20% 120%,
      darkblue 0%,
      darkblue 49.99%,
      transparent 50%,
      transparent 100%
    );
  transform: translateY(-200px);
}